<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.unierlangen.like" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="11"
		android:targetSdkVersion="11" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:name="NavigationApplication"
		android:largeHeap="true"
		android:icon="@drawable/icon" android:label="@string/app_name"
		android:uiOptions="splitActionBarWhenNarrow">
		<activity android:name=".ui.MainYourLocationActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".preferences.PreferenceWithHeaders"></activity>
		<activity android:name=".ui.ConsoleActivity"></activity>
		<activity android:name=".LoopbackActivity"></activity>
		<activity android:name=".ui.FindRoomActivity"></activity>
		<activity android:name=".ui.AboutActivity" android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name="de.unierlangen.like.ui.HelpActivity"
			android:label="@string/help_title" android:theme="@android:style/Theme.Dialog">
		</activity>
		<service android:name=".rfid.ReaderService" />
		<service android:name=".navigation.NavigationService">
			<intent-filter>
				<action android:name="de.unierlangen.like.Intents.ACTION_SET_DESTINATION" />
			</intent-filter>
			<intent-filter>
				<action android:name="de.unierlangen.like.Intents.ACTION_TAGS" />
			</intent-filter>
			<intent-filter>
				<action android:name="de.unierlangen.like.Intents.ACTION_START_NAVIGATION" />
			</intent-filter>
		</service>
	</application>
</manifest>
